.refresh-rate-container{
    font-family: "Braah One", sans-serif;
    position: absolute;
    top: 125px;
    font-size: 16px;
    text-transform: uppercase;
}

.availability-toggle-button-container{
    background-image: url(../media/img/availability-icon.png);
    background-size: 215% 215%;
    background-position: center;
    background-color: white;
    width: 35px;
    height: 35px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    display: block;
    position: absolute;
    top: 85px;
    transition: background-size 0.25s, background-color 0.25s;
}

.availability-toggle-button-container:hover{
    background-size: 225% 225%;
    background-color: aquamarine;
}

#library-menu-container{
    z-index: -1;
    display: none;
    width: 400px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -200px;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    background-color: white;
    color: black;
}

#back-to-map-button-container{
    z-index: 999;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background-image: url(../media/img/hov-ig-logo.png);
    background-size: 100% 100%;
    outline: none;
    position: absolute;
    top: 2%;
    right: 2%;
}

#vision-page-main-container{
    font-family: "Braah One", sans-serif;
    color: white;
    width: 70%;
    padding: 2% 5%;
    min-height: 350px;
    display: block;
    margin: 3% auto 0 auto;
    background-color: rgba(255, 255, 255, 0.05);
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: color 0.25s, background-color 0.25s;
}

#vision-page-main-container:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.95);
}

#vision-page-main-container p{
    margin: 20px auto;
    /* margin-bottom: 20px; */
    width: 100%;
    display: block;
    text-align: left;
}

#vision-page-main-container h3{
    text-align: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

#library-menu-button-container{
    z-index: 999;
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background-image: url(../media/img/hov-ig-logo.png);
    background-size: 100% 100%;
    outline: none;
    position: absolute;
    top: 2%;
    right: 2%;
}

.library-menu-option-container{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    color: black;
    border: 0;
    background-color: white;
    transition: background-color 0.25s, color 0.25s;
}

.libary-menu-option-container::active{
    color: white;
    background-color: blue;
}

#vision-page-button-container{
    border-radius: 10px 10px 0 0;
    border-bottom: 1px gray solid;
}

#add-new-item-page-button-container{
    border-radius: 0 0 10px 10px;
    border-top: 1px gray solid;
}

.header-container{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.header-icon-container{
    font-family: "Braah One", sans-serif;
    width: 65px;
    height: 65px;
    display: block;
    margin: 5% auto;
    border-radius: 50%;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#joes-club-header-icon-container{
    background-image: url(../media/img/md-heart-icon.png);
}

#pm-library-header-icon-container{
    background-image: url(../media/img/pm-library-icon.png)
}

#kt-library-header-icon-container{
    background-image: url(../media/img/katie-library.JPG);
    background-size: cover;
}

#mistle-library-header-icon-container{
    background-image: url(../media/img/mistle-library-icon.png);
    background-size: cover;
}

#youth-build-library-icon-container{
    background-image: url(../media/img/katie-library.JPG);
    background-size: cover;
}

#heart-of-darkness-book-option-container{
    background-image: url(../media/img/heart-of-darkness-book-cover.png);
}

#the-false-prophet-book-option-container{
    background-image: url(../media/img/the-false-prophet-book-cover.png);
}

#el-viento-travieso-book-option-container{
    background-image: url(../media/img/el-viento-travieso-book-cover.png);
}

#bayes-theorem-a-visual-intro-book-option-container{
    background-image: url(../media/img/bayes-theorem-a-visual-intro-book-cover.png);
}

#american-sniper-book-option-container{
    background-image: url(../media/img/american-sniper-book-cover.png);
}

#the-future-of-an-illusion-book-option-container{
    background-image: url(../media/img/the-future-of-an-illusion-book-cover.png);
}

#communities-book-option-container{
    background-image: url(../media/img/communities-book-cover.png);
}

#jacobin-mag-summer-2023-book-option-container{
    background-image: url(../media/img/jacobin-mag-summer-2023-book-cover.png);
}

#mcdonalds-header-icon-container{
    background-image: url(../media/img/mcdonalds-icon.png);
}

#youth-build-library-header-icon-container{
    background-image: url(../media/img/youth-build-library-take-0.png);
}

#seven-11-header-icon-container{
    background-image: url(../media/img/7-eleven-icon.png);
}

#chik-fil-a-header-icon-container{
    background-image: url(../media/img/chik-fil-a-icon.png);
}

#harvard-st-library-header-icon-container{
    background-image: url(../media/img/pong-logo.png);
}

#because-of-sex-book-option-container{
    background-image: url(../media/img/because-of-sex-book-cover.png);
}

#the-house-of-scorpion-book-option-container{
    background-image: url(../media/img/house-of-the-scorpion-book-cover.png);
}

#the-nazi-seizure-of-power-book-option-container{
    background-image: url(../media/img/the-nazi-seizure-of-power-book-cover.png);
}

#from-farmland-to-streetlevel-book-0-option-container, #from-farmland-to-streetlevel-book-1-option-container{
    background-image: url(../media/img/from-farmland-to-streetlevel-book-cover.png);
}

#the-book-of-forgiving-book-option-container{
    background-image: url(../media/img/the-book-of-forgiving-book-cover.png);
}

#l4yer-cake-book-option-container{
    background-image: url(../media/img/l4yer-cake-book-cover.png);
}

#dragons-heart-book-option-container{
    background-image: url(../media/img/dragons-heart-book-cover.png);
}

#father-of-the-bride-book-option-container{
    background-image: url(../media/img/father-of-the-bride-book-cover.png);
}

#key-west-connection-book-option-container{
    background-image: url(../media/img/key-west-connection-book-cover.webp);
}

#critique-of-pure-reason-book-option-container{
    background-image: url(../media/img/critique-of-pure-reason-book-cover.jpeg);
}

#time-and-the-other-book-option-container{
    background-image: url(../media/img/time-and-the-other-book-cover.jpg);
}

#stop-dressing-your-six-year-old-like-a-skank-book-option-container{
    background-image: url(../media/img/stop-dressing-your-six-year-old-like-a-skank-book-cover.jpg);
}

#on-the-plurality-of-worlds-book-option-container{
    background-image: url(../media/img/on-the-plurality-of-worlds-book-cover.png);
}

#a-history-of-the-modern-middle-east-book-option-container{
    background-image: url(../media/img/a-history-of-the-modern-middle-east-book-cover.png);
}

#total-immersion-book-option-container{
    background-image: url(../media/img/total-immersion-book-cover.png);
}

#the-theatre-of-the-absurd-book-option-container{
    background-image: url(../media/img/the-theatre-of-the-absurd-book-cover.png);
}

#stealth-of-nations-book-option-container{
    background-image: url(../media/img/stealth-of-nations-book-cover.png);
}

#extreme-ownership-book-option-container{
    background-image: url(../media/img/extreme-ownership-book-cover.png);
}

#the-house-on-mango-street-book-option-container{
    background-image: url(../media/img/the-house-on-mango-street-book-cover.png);
}

#guardians-of-gahoole-capture-book-option-container{
    background-image: url(../media/img/guardians-of-gahoole-capture-book-cover.png);
}

#dynamics-of-faith-book-option-container{
    background-image: url(../media/img/dynamics-of-faith-book-cover.png);
}

#miss-emily-book-option-container{
    background-image: url(../media/img/miss-emily-book-cover.png);
}

#desert-queen-book-option-container{
    background-image: url(../media/img/desert-queen-book-cover.png);
}

#a-woman-in-arabia-book-option-container{
    background-image: url(../media/img/a-woman-in-arabia-book-cover.png);
}

#the-black-country-book-option-container{
    background-image: url(../media/img/the-black-country-book-cover.png);
}

#the-logical-basis-of-metaphysics-book-option-container{
    background-image: url(../media/img/the-logical-basis-of-metaphysics-book-cover.png);
}

#the-devils-workshop-book-option-container{
    background-image: url(../media/img/the-devils-workshop-book-cover.png);
}

#mauds-line-book-option-container{
    background-image: url(../media/img/mauds-line-book-cover.png);
}

#the-curly-pyjama-letters-book-option-container{
    background-image: url(../media/img/the-curly-pyjama-letters-book-cover.png);
}

.book-option-button-container{
    background-size: auto 80%;
    display: inline-block;
    margin-bottom: 35px;
    height: 150px;
    width: max(49%, 100px);
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    transition: background-size 0.25s;

}

.book-option-button-container:hover{
    background-size: auto 105%;
}

.option-button-container{
    display: inline-block;
    margin-bottom: 35px;
    height: 100px;
    width: max(49%, 100px);
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    transition: background-size 0.25s;
}

#hash-brown-option-container{
    background-image: url(../media/img/hash-brown.png);
    background-size: auto 60%;
}

#hash-brown-option-container:hover{
    background-size: auto 100%;
}

#ketchup-option-container{
    background-image: url(../media/img/ketchup-container.png);
    background-size: auto 70%;
}

.view-digital-book-button-container{
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    width: max(90%, 150px);
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: blue;
    color: yellow;
    text-transform: uppercase;
    transition: color 0.25s, background-color 0.25s;
}

.view-digital-book-button-container:hover{
    background-color: red;
    color: white;
}

.add-item-to-order-queue-button-container{
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    width: max(90%, 150px);
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: aquamarine;
    color: black;
    text-transform: uppercase;
    transition: color 0.25s, background-color 0.25s;
}

.add-item-to-order-queue-button-container:hover{
    background-color: red;
    color: white;
}

#ketchup-option-container:hover{
    background-size: auto 100%;
}

#tampons-option-container{
    background-image: url(../media/img/tampax.png);
    background-size: auto 50%;
}

#tampons-option-container:hover{
    background-size: auto 100%;
}

#condoms-option-container{
    background-image: url(../media/img/magnum-condoms.png);
    background-size: auto 60%;
}

#condoms-option-container:hover{
    background-size: auto 100%;
}

#chicken-nuggets-option-container{
    background-image: url(../media/img/chicken-nuggets.png);
    background-size: auto 105%;
}

#chicken-nuggets-option-container:hover{
    background-size: auto 135%;
}

#chik-fil-a-sauce-option-container{
    background-image: url(../media/img/chik-fil-a-sauce.png);
    background-size: auto 70%;
}

#chik-fil-a-sauce-option-container:hover{
    background-size: auto 100%;
}


/*.scroll {
   width: 200px;
   height: 400px;
    background: red;
   overflow: scroll;
}*/

.smooth-scroll::-webkit-scrollbar {
    width: 12px;
}

.smooth-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.smooth-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}

#member-options-container{
    font-family: "Braah One", sans-serif;
    position: absolute;
    z-index: 999;
    width: 250px;
    height: 175px;
    border: 0;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    cursor: pointer;
    bottom: 3%;
    right: 3%;
    overflow-y: auto;
}

#martins-bbq-chips-option-container{
    background-image: url(../media/img/martins-bbq-chips-icon.webp);
    background-size: auto 70%;
}

#martins-bbq-chips-option-container:hover{
    background-size: auto 100%;
}

#martins-sea-salted-chips-option-container{
    background-image: url(../media/img/martins-sea-salted-chips-icon.webp);
    background-size: auto 70%;
}

#martins-sea-salted-chips-option-container:hover{
    background-size: auto 100%;
}

#natty-boh-0-option-container, #natty-boh-1-option-container{
    background-image: url(../media/img/natty-boh-icon.png);
    background-size: auto 90%;
}

#natty-boh-0-option-container:hover, #natty-boh-1-option-container:hover{
    background-size: auto 120%;
}

#pbr-0-option-container, #pbr-1-option-container{
    background-image: url(../media/img/pbr-icon.avif);
    background-size: auto 90%;
}

#pbr-0-option-container:hover, #pbr-1-option-container:hover{
    background-size: auto 120%;
}

#table-tennis-balls-option-container{
    background-image: url(../media/img/table-tennis-balls.png);
    background-size: auto 70%;
}

#table-tennis-balls-option-container:hover{
    background-size: auto 100%;
}

.popup-description-container{
    line-height: 22px;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 12px auto;
}

.library-catalog-container{
    width: 300px;
    height: 300px;
    overflow-y: auto;
}

.return-book-button-container{
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    width: max(90%, 150px);
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: salmon;
    color: black;
    text-transform: uppercase;
    transition: color 0.25s, background-color 0.25s;
}

.return-book-button-container:hover{
    background-color: red;
    color: white;
}

.library-action-module-container{
    font-family: "Braah One", sans-serif;
    z-index: 1000;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    width: 500px;
    height: 525px;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

#return-book-header-container{
    font-size: 24px;
    width: 100%;
    line-height: 50px;
    height: auto;
    text-align: center
}

.return-book-text-container{
    font-size: 18px;
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

#return-book-cover-container{
    display: block;
    width: 150px;
    height: 225px;
    margin: 10px auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: width 0.25s, height 0.25s;
}

#return-book-cover-container:hover{
    width: 175px;
    height: 250px;
}

#return-book-title-container{
    width: 100%;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}

#return-book-owner-container{
    width: 89%;
    margin-left: 9%;
    line-height: 35px;
    text-align: left;
}

#success-container{
    position: absolute;
    border: 0;
    border-radius: 5px;
    margin: -150px 0 0 -150px;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    display: none;
    background-color: white;
    color: black;
    z-index: 1000;
}

#success-icon-container{
    width: 225px;
    height: 225px;
    background-image: url(../media/img/success.png);
    background-size: cover;
    display: block;
    margin: 10px auto;
}

#success-text-container{
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    font-family: "Braah One", sans-serif;
}

#return-to-map-button-container, #start-book-return-button-container{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 0;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

#return-to-map-button-container:hover, #start-book-return-button-container:hover{
    font-size: 24px;
}

.portal-button-container{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    cursor: pointer;
    box-shadow: none;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: box-shadow 0.25s;
    border: 0;
    outline: none;
}

.portal-button-container:hover{
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.95);
}

#film-archive-portal-button-container{
    background-image: url(../media/img/tiktok-texture.png);
    left: 3%;
}

#book-archive-portal-button-container{
    background-image: url(../media/img/tiktok-texture.png);
    left: 3%;
}

#instagram-portal-button-container{
    background-image: url(../media/img/instagram-texture.png);
    right: 3%;
}


@media only screen and (max-width: 640px){
    #return-book-header-container {
        margin-top: 50px;
    }

    .library-action-module-container{
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    #return-to-map-button-container{

    }

    .header-container{
        height: auto;
    }

    #member-options-container{
        width: calc(100% - 60px);
        height: 75px;
        bottom: 0;
        right: 0;
        padding: 15px;
        font-size: 16px;
        /*font-family: "Braah One", sans-serif;
        position: absolute;
        z-index: 999;
        border: 0;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        cursor: pointer;
        overflow-y: auto;*/
    }

    .leaflet-popup-content-wrapper{
        width: 250px;
    }

    .book-option-button-container {
        width: 100%;
        margin-bottom: 0;
        height: 200px;
    }
    
    
    .library-catalog-container{
        width: 200px;
        height: 300px;
        overflow-y: auto;
    }
    
    #library-menu-container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        border: 0;
        border-radius: 0;
    }

    
    #vision-page-main-container{
        width: 100%;
    }

}