* {
    margin: 0;
    padding: 0;
}

body, html, #main-app-container{
    width: 100%;
    height: 100%;
    z-index: 0;
}

#main-app-container{
    position: relative;
    background-color: rgba(255, 255, 255, 1.0);
}

.option-button-container{
    width: 200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(80, 44, 132, 1.0);
    font-size: 24px;
    font-family: "Arial", sans-serif;
    display: inline-block;
    border: 0;
    font-weight: 400;
}

#desktop-left-header-container{
    width: 460px;
    position: absolute;
    top: 2%;
    left: 0;
}

#desktop-right-header-container{
    width: 460px;
    position: absolute;
    top: 2%;
    right: 0;
}

#library-icon-container{
    width: 50px;
    height: 50px;
    background-image: url(../media/img/eye-icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

#library-title-container{
    width: 400px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    display: inline-block;
}

#library-subtitle-container{
    width: 400px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    margin-left: 50px;
}

#main-scene-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: block;
    top: 0;
    left: 0;
    transition: opacity 3.5s;
}

#main-body-container{
    width: 100%;
    height: 300px;
    display: block;
    overflow-y: scroll;
}

#main-photo-container{
    width: 33%;
    height: 100%;
}

.main-body-button-container{
    width: 250px;
    height: 175px;
    background-image: url(../media/img/little-free-digital-library-photo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden-scene{
    opacity: 0;
}

.visible-scene{
    opacity: 1.0;
}


#logo-button-container{
    position: absolute;
    background-image: url(../media/img/gknd-logo.png);
    background-size: 110% 100%;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    border: 0;
    cursor: pointer;
    z-index: 10;
    transition: top 2.5s, left 2.5s, width 2.5s, height 2.5s, margin 2.5s;
}

.loading-screen-logo-container{
    width: 350px;
    height: 350px;
    top: 45%;
    left: 50%;
    margin: -175px 0 0 -175px;
}

.corner-logo-container{
    width: 100px;
    height: 100px;
    top: 10%;
    left: 7%;
    margin: -50px 0 0 -50px;
}

.corner-logo-container:hover{
    width: 120px;
    height: 120px;
}

@media only screen and (max-width: 640px){
    #main-scene-container{
        width: 100%;
        height: 100%;
        /*position: absolute;
        z-index: 5;
        display: block;*/
        top: 0;
        left: 0;
        margin: 0;
        /*transition: opacity 3.5s;*/
    }
}